.card-food{
    display: flex;/* Řadí obsah */
    justify-content: center; /* Horizontálně centruje obsah */
    align-items: center; /* Vertikálně centruje obsah */
    flex-direction: column; /* Dává obsah nad sebe */
    width: 150px; /* Nastavuje šířku */
    height: 203px; /* Nastavuje výšku */
    margin: auto; /* Centruje element horizontálně */
    box-shadow: rgba(219, 32, 32, 0.35) 0px 5px 15px; /* Přidá stín */
    border-radius: 16px; /* Zaoblí rohy */
    position: relative; /* Nastavuje pozici */
}

.card-food-img{
    width: 150px; /* Nastavuje šířku */
    height: 116px; /* Nastavuje výšku */
    display: flex;
    justify-content: center;
    align-items: center; /* Zarovná na střed */
    scale: 30%; /* Zmenšení obrázku burgeru */
}

.card-food-name{
    height: 18px; /* Nastavuje výšku */
    width: 100%; /* Nastavuje šířku */
    text-align: center;
}

.card-food-price{
    width: 100%; /* Nastavuje šířku */
    height: 46px; /* Nastavuje výšku */
    text-align: center;
    font-size: 16px;
    color: aqua;
    font-weight: bold;
}

.card-food-plus{
    position: absolute;
    border-radius: 50%;
    padding: 6px;
    background-color: red;
    top: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 18px; /* Nastavuje šířku */
    height: 18px; /* Nastavuje výšku */
}

main{
    max-width: 1300px;
    margin: auto;
    padding: 5px;
}

.container{
    max-width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-name{
    text-align: center;
}